In [1]:
import pandas as pd

**(1)**

In [2]:
#import main file of poi
df = pd.read_csv('pois_all_info', sep = '\t', low_memory=False)

#import file for the poi of NYC
nyPOI = pd.read_csv('ny_municipality_pois_id.csv', names = ['@id'])

#keep only poi of NYC by comparing the two files
df = pd.merge(df,nyPOI)
df

,@id,@type,@lat,@lon,amenity,name,shop,public_transport,highway
0,42432939,node,40.814104,-73.949623,NaN,NaN,NaN,stop_position,NaN
1,42448838,node,40.761647,-73.949864,NaN,NaN,NaN,stop_position,NaN
2,42723103,node,40.852182,-73.772677,ferry_terminal,Hart Island Ferry Terminal,NaN,NaN,NaN
3,42764076,node,40.867164,-73.882158,NaN,Botanical Garden,NaN,stop_position,NaN
4,42811266,node,40.704806,-73.772734,NaN,NaN,NaN,stop_position,NaN
...,...,...,...,...,...,...,...,...,...
53545,2553096114,node,40.736006,-73.713202,NaN,NaN,NaN,NaN,NaN
53546,2553096138,node,40.736020,-73.713063,NaN,NaN,NaN,NaN,NaN
53547,2553096143,node,40.736024,-73.713047,NaN,NaN,NaN,NaN,NaN
53548,2553096154,node,40.736030,-73.713089,NaN,NaN,NaN,NaN,NaN
53549,6146672068,node,40.735901,-73.713000,NaN,NaN,NaN,NaN,NaN

**(2)** Count the number of missing values for each column

In [3]:
df.isnull().sum()

@id                     0
@type                   0
@lat                    0
@lon                    0
amenity             28838
name                23000
shop                44833
public_transport    45174
highway             45991
dtype: int64

In [4]:
ser = pd.Series([390., 350., 20., 20.], )
ser.groupby(ser).size()

20.0     2
350.0    1
390.0    1
dtype: int64

In [5]:
perc = 0.2
print(len(df['shop'].dropna()))
topk = round(len(df['shop'].dropna().unique())*perc)
print(topk)
df['shop'].groupby(df['shop']).size().sort_values(ascending = False).iloc[:topk]

8717
38

shop
convenience              841
clothes                  811
supermarket              555
hairdresser              487
deli                     462
beauty                   422
alcohol                  408
laundry                  380
bakery                   322
mobile_phone             244
dry_cleaning             227
gift                     154
car_repair               153
shoes                    152
variety_store            113
optician                 110
books                    107
furniture                105
bicycle                   99
jewelry                   97
department_store          94
cosmetics                 88
hardware                  83
florist                   78
yes                       78
pet                       75
butcher                   67
massage                   65
greengrocer               60
car                       57
electronics               57
chemist                   53
toys                      52
confectionery             51
nutrition_supplements     49
sports                    49
tobacco                   44
tattoo                    43
Name: shop, dtype: int64

In [6]:
len(df['shop'].dropna().unique())

191